.metronome-holder {
  position: absolute;
  top: 8rem;
  display: grid;
  border: 2px lightskyblue solid;
  border-radius: 0.5rem;
  padding: 0 16px 16px 16px;
  background-color: #223650;
}

.tap-bpm-button {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px lightgrey solid;
  margin: 1rem;
}

.tap-bpm-button:hover {
  background: #4e5789;
  color: #F0F0F0;
}

.play-pause-button {
  margin: 1rem;
  border-radius: 2rem;
  border: 1px lightgrey solid;
  padding: 1rem;
  width: 4rem;
}

.play-pause-button:hover {
  background-color: #4e5789;
  border: 1px #F0F0F0 solid;
}

.metronome-close-button {
  position: absolute;
  left: 88%;
  top: 9%;
  border: 1px gray solid;
  border-radius: 1rem;
  width: 1.8rem;
  color: gray;
}

.metronome-close-button:hover {
  background-color: #4e5789;
  border: 1px #DDDDDD solid;
}

.metronome-close-button:hover .metronome-close-button-icon {
  color: #DDDDDD;
}

.tempo-top-bar {
  text-align: center;
  border-bottom: 1px whitesmoke solid;
  padding: 8px 0;
}

.tempo-title {
  font-size: 2rem;
}