@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 35, 55, 81;
  --background-end-rgb: 15, 25, 61;
}

body {
  color: lightgrey;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  margin: auto;
}

.tap-input-button {
  width: 12rem;
  height: 5rem;
}

.measure {
  display: flex;
  margin: 10px;
  border: 1px black solid;
  padding: 10px;
  height: 80px;
  width: auto;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(94, 93, 137, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(94, 93, 137, 0.1);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(94, 93, 137, 0);
	}
}