footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  width: 20rem;
  margin: auto;
}

.clickable-button {
  padding: 0.5rem;
  border: 1px lightgrey solid;
  border-radius: 0.25rem;
  margin: 1rem;
}

.clickable-button:hover {
  background-color: #4e5789;
  color: lightgray;
}

.clickable-button:active {
  background-color: lightgray;
  color: darkslategray;
}
