@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 35, 55, 81;
  --background-end-rgb: 15, 25, 61;
}

body {
  color: lightgrey;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  margin: auto;
}

.tap-input-button {
  width: 15rem;
  height: 5rem;
}

.clickable-button {
  padding: 0.5rem;
  border: 1px lightgrey solid;
  border-radius: 0.25rem;
  margin: 1rem;
}

.clickable-button:hover {
  background-color: #4e5789;
  color: lightgray;
}

.clickable-button:active {
  background-color: lightgray;
  color: darkslategray;
}

.note-viewer {
  background-color: lightgray;
  padding: 2rem;
  display: flex;
  border-radius: 0.5rem;
  margin: 4rem;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer {
  width: 23rem;
  margin: auto;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 40, 40;
    --background-end-rgb: 20, 20, 20;
  }
  
  .clickable-button {
    border: 1px white solid;
  }

  .clickable-button:hover {
    background-color: #555555;
  }

  .tempo-input {
    background-color: #555555;
  }
}*/

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(94, 93, 137, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(94, 93, 137, 0.1);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(94, 93, 137, 0);
	}
}